<% include ../partials/header.ejs %>

<div class="container">
    <h2>Add Vendor</h2>
    <form action="/vendors" method="post">
        <div class="form-group">
         <label>Vendor Name</label>
         <input type="text" name="vendor_name" class="form-control" id="vendor_name" placeholder="Vendor Name">
    </div>
        
      <div class="form-group">
      <label>Description</label>
      <input type="text" name="vendor_description" class="form-control" id="vendor_description" placeholder="Description">
    </div>

    <div class="form-group">
      <label>Image Link</label>
      <input type="text" name="vendor_image" class="form-control" id="vendor_image" placeholder="Image Link">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a href="/vendors" class="btn btn-danger">Cancel</a>
  </form>
</div>

<% include ../partials/footer.ejs %>